/*Etape 3*/
body {
    font-family: Arial;
    margin: 0;
}

/*Etape 5*/

nav {
    height: 70px;
    display: flex;
    right: 0;
    left: 0;

}

.secondary-block {
    color: #dddddd;
    background-color: #4C0013
}

a {
    color: #dddddd;
}

nav h2 {
    margin: 0;
    padding: 25px 0px 20px 15px;
    font-size: 18px;

} 

nav ul {
    display: flex;
    margin: 0;
    padding: 24px;
    list-style: none;
}

nav li {
    margin-left: 15px;
}
li a:hover{
    color: aqua;
}
/*Etape 7*/

header {
    text-align: center;
    padding: 40px;
}

.content {
    max-width: 800px;
    margin: 0 auto;
}

header h2 {
    color: #4C0013;
}

header img {
    width: 150px;
    border-radius: 75px;
    box-shadow: 3px 3px 6px rgb(170, 170, 170);
}

/*Etape 9*/

section {
    padding: 40px;
}

/*Etape 12*/

#xp ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#xp li {
    margin-bottom: 10px;
}

#xp aside {
    float: right;
}

/*Etape 13*/

#education ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#education li {
    margin-bottom: 10px;
}

#education aside {
    float: right;
}

/*Etape 16*/

footer {
    padding: 40px;
    font-size: 0;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.links {
    margin-bottom: 25px;
    width: 50%;
    display: inline-block;
    font-size: 16px;
}